{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['admin.supplier.supplier_list', 'supplier_master'] %}

{% block title %}{{ 'admin.supplier.supplier_list'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.supplier.supplier_management'|trans }}{% endblock %}

{% form_theme searchForm '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form name="search_form" id="search_form" method="post" action="">
        {{ form_widget(searchForm._token) }}
        <div class="c-outsideBlock">
            <div class="c-outsideBlock__contents">
                <div class="row justify-content-start">
                    <div class="col-6">
                        <div class="mb-2">
                            <label class="col-form-label" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'tooltip.sample.multi_search_label'|trans }}">{{ 'admin.supplier.supplier_code'|trans }}<i class="fa fa-question-circle fa-lg ms-1"></i></label>
                            {{ form_widget(searchForm.supplier_code) }}
                            {{ form_errors(searchForm.supplier_code) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(searchForm.sortkey, {'attr': {'class': 'js-listSort-key'}}) }}
            {{ form_widget(searchForm.sorttype, {'attr': {'class': 'js-listSort-type'}}) }}
        </div>
        <div class="c-outsideBlock__contents mb-5">
            <button type="submit" class="btn btn-ec-conversion px-5">{{ 'admin.common.search'|trans }}</button>&nbsp;
            <a class="btn btn-ec-regular" href="{{ url('admin_supplier') }}">クリア</a>
            {% if pagination %}
                <span class="fw-bold ms-2">{{ 'admin.common.search_result'|trans({'%count%':pagination.totalItemCount}) }}</span>
            {% endif %}
        </div>
        <div class="c-outsideBlock__contents mb-5">
            {{ include('@admin/search_items.twig', { 'form': searchForm }, ignore_missing = true) }}
        </div>
    </form>

        <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="d-block mb-3">
                    <a id="addNew" class="btn btn-ec-regular" href="{{ url('admin_supplier_new') }}">{{ 'admin.common.create__new'|trans }}</a>
                </div>
                    {% if pagination and pagination.totalItemCount %}
                        <div class="row justify-content-between mb-2">
                            <div class="col-6"></div>

                            <div class="col-5 text-end">
                                {#Dropdown page count#}
                                <div class="d-inline-block me-2 align-bottom">
                                    <select class="form-select" onchange="location = this.value;">
                                        {% for pageMax in pageMaxis %}
                                            <option {% if pageMax.name == page_count %} selected {% endif %}
                                                    value="{{ path('admin_supplier_page', {'page_no': 1, 'page_count': pageMax.name }) }}">
                                                {{ 'admin.common.count'|trans({ '%count%': pageMax.name }) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded border-0 mb-4 d-block">
                            <div class="card-body p-0">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 pt-2 pb-3 ps-3 text-nowrap">{{ 'admin.supplier.id'|trans }}<a href="#" class="js-listSort" data-sortkey="supplier_id"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></th>
                                        <th class="border-top-0 pt-2 pb-3">{{ 'admin.supplier.supplier_code'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-3">&nbsp;</th>
                                        <th class="border-top-0 pt-2 pb-3 pe-3">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for supplier in pagination %}
                                        <tr id="ex-sample-{{ supplier.id }}">
                                            <td class="align-middle ps-3"><a href="{{ url('admin_supplier_edit', { 'id': supplier.id}) }}">{{ supplier.id }}</a></td>
                                            <td class="align-middle">{{ supplier.supplier_code }}</td>
                                            <td class="align-middle pe-3">
                                                <div class="text-end">
                                                    <div class="px-1 d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'admin.common.delete'|trans }}">
                                                        <a class="btn btn-ec-actionIcon" data-bs-toggle="modal" data-bs-target="#discontinuance-{{ supplier.id }}">
                                                            <i class="fa fa-close fa-lg text-secondary" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                    <div class="modal fade" id="discontinuance-{{ supplier.id }}" tabindex="-1" role="dialog" aria-labelledby="discontinuance" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title fw-bold">
                                                                        {{ 'admin.common.delete_modal__title'|trans }}</h5>
                                                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                <div class="modal-body text-start">
                                                                    <p class="text-start">
                                                                        {{ 'admin.common.delete_modal__message'|trans({ '%name%' : supplier.id }) }}</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">
                                                                        {{ 'admin.common.cancel'|trans }}
                                                                    </button>
                                                                    <a href="{{ url('admin_supplier_delete', {'id' : supplier.id}) }}" class="btn btn-ec-delete"{{ csrf_token_for_anchor() }} data-method="delete" data-confirm="false">
                                                                        {{ 'admin.common.delete'|trans }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.text-end -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row justify-content-md-center mb-4">
                                    {% if pagination.totalItemCount > 0 %}
                                        {% include "@admin/pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_supplier_page' } %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% elseif has_errors %}
                        <div class="card rounded border-0">
                            <div class="card-body p-4">
                                <div class="text-center text-muted mb-4 h5">{{ 'admin.common.search_invalid_condition'|trans }}</div>
                                <div class="text-center text-muted">{{ 'admin.common.search_try_change_condition'|trans }}</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card rounded border-0">
                            <div class="card-body p-4">
                                <div class="text-center text-muted mb-4 h5">{{ 'admin.common.search_no_result'|trans }}</div>
                                <div class="text-center text-muted">{{ 'admin.common.search_try_change_condition'|trans }}</div>
                                <div class="text-center text-muted">{{ 'admin.common.search_try_advanced_search'|trans }}</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
